html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f3f5fc;
  font-family: Inter, sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header-img {
  position: absolute;
  animation: fade_in 2s;
}

.header-img > img {
  position: relative;
  left: 40px;
  top: 40px;
  width: 120px;
  height: 48px;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input-section {
  margin: 0 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: fade_in 2s;
}

.input-form {
  flex-basis: calc(65% - 80px);
}

.text-input {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-input > textarea {
  flex-basis: 100%;
  font-family: Inter, sans-serif;
  margin-top: 110px;
  font-size: 32px;
  line-height: 48px;
  color: #0a3871;
  background-color: transparent;
  resize: none;
  border: none;
}

.text-input > textarea:focus {
  outline: none;
}

.text-input > textarea::-webkit-input-placeholder {
  color: #0a3871;
}

.text-area-disclaimer {
  display: flex;
  padding-bottom: 10px;
}

.text-area-disclaimer > p {
  margin-top: 1px;
  margin-left: 5px;
  font-weight: 400;
  line-height: 150%;
  color: #495057;
  opacity: 0.8;
}

.text-area-disclaimer > img {
  opacity: 0.8;
}

.buttons-container {
  display: flex;
  width: 100%;
}

.buttons-container > button {
  flex-basis: 50%;
  width: 328px;
  height: 67px;
  border: 1px solid #0a3871;
  border-radius: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  transform: scale(1);
  transition: transform 0.2s;
}

.buttons-container > button:hover {
  transform: scale(1.05);
}

.buttons-container > button:first-child {
  margin-right: 12px;
  background-color: #0a3871;
  color: #fff;
}

.buttons-container > button:first-child:active {
  background-color: #000;
}

.buttons-container > button:last-child {
  margin-left: 12px;
  background-color: transparent;
  color: #0a3871;
}

.buttons-container > button:last-child:active {
  color: #fff;
  background-color: #000;
}

.output-section {
  display: flex;
  margin: 40px 40px;
  height: 90%;
  width: 460px;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  flex-basis: calc(35% - 80px);

  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  animation: fade_in 2s;
}

.empty-text-info {
  height: 100%;
  margin: 40px;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.empty-text-disclaimer {
  height: 100%;
  margin: 40px;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.empty-text-disclaimer > p:nth-child(1) {
  margin-top: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #343a40;
}

.empty-text-disclaimer > p:nth-child(2) {
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #495057;
}

#final-output {
  width: 100%;
}

#text-final-output {
  flex-basis: calc(100% - 155px);
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  line-height: 150%;
  color: #495057;
  background-color: transparent;
  resize: none;
  border: none;
}

#copy-button {
  flex-basis: 10%;
  background-color: transparent;
  border: 1px solid #0a3871;
  border-radius: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  transform: scale(1);
  transition: transform 0.2s;
}

#copy-button:hover {
  transform: scale(1.05);
}

#copy-button:last-child:active {
  color: #fff;
  background-color: #000;
}

.invisible {
  display: none;
}

@media screen and (max-width: 900px) {
  .header-img {
    position: absolute;
    top: 20px;
    left: 40px;
  }

  .input-section {
    flex-direction: column;
    width: calc(100% - 80px);
  }

  .input-form {
    width: calc(100% - 80px);
    flex-basis: 50%;
  }

  .output-section {
    margin: 120px 40px;
    width: calc(100% - 80px);
    flex-basis: 50%;
  }

  .empty-text-info > img {
    display: none;
  }

  .empty-text-disclaimer > p:nth-child(1) {
    margin-top: 0;
  }

  .empty-text-disclaimer > p:nth-child(2) {
    margin-top: 16px;
  }
}

@media screen and (max-width: 400px) {
  .header-img > img {
    position: absolute;
    top: 0;
    left: -25px;
  }

  .input-section {
    margin-top: 50px;
    width: calc(100% - 32px);
  }

  .output-section {
    width: calc(100% - 32px);
    margin-top: 250px;
  }

  .buttons-container {
    flex-direction: column;
  }

  .buttons-container > button {
    width: 100%;
    flex-basis: 50%;
    padding: 23px 0;
  }

  .buttons-container > button:first-child {
    margin-right: 0;
    margin-bottom: 12px;
  }

  .buttons-container > button:last-child {
    margin-top: 12px;
    margin-left: 0;
  }
}
