:root {
  font-family: Inter;
  font-style: normal;

  background-color: #e5e5e5;
}

button {
  width: 328px;
  height: 67px;

  border-radius: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
